<h2>OTP (One Time Pad)</h2>
<ul>
    <li><a asp-area="" asp-controller="Grid" asp-action="Index">Grid</a></li>
</ul>
<ul>
    <li><a asp-area="" asp-controller="Generate" asp-action="Image">Image</a></li>
    <li><a asp-area="" asp-controller="Generate" asp-action="Text">Text</a></li>
</ul>